
@import "compass/css3/box-shadow";
@import "recipes";

/* elements */

body:before {
    @include top-shadow($height: 1em, $color: rgba(0,0,0,.1));
}

a {
    font-weight: bold;
    color: #38530f;
    text-shadow: 0px 0px 1px rgba(200, 200, 200, 0.1);
    font-size: 1.05em;
}
a:hover {
    color: #62831f;
}

ul.nodot, li.nodot {
    list-style: none;
    margin-left: 0;
}

p {
    margin-bottom: $baseLineHeight;
}

/* default page structure */
.navbar {
    text-rendering: optimizelegibility;
}


.navbar-inner {
    @include box-shadow(#{0px 0px 0px rgba(50, 50, 50, 0)});
}
.navbar a.brand {
    text-decoration: none;
    text-transform: uppercase;
    color: #666;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}
a.brand img {
    vertical-align: baseline;
}

.content {
    min-height: 500px;
}

/*  inset center area */
.container-narrow {
    width: 60%;
    // baseFont 15px 100 CPL
    max-width: 661px;
    margin: 0 auto;
}
/* content area has margin */
.main.container-narrow {
    margin: 1em auto;
}


.nav-tabs>li>a {
    line-height: inherit;
}
.nav-tabs {
    font-size: 13px;
}
.nav-tabs a.active {
    background: #666;
    color: #eee;
}
.nav-tabs a.active:hover {
    background: #333;
    color: #eee;
}
.breadcrumb li {
    padding: 0 0.5em;
}

.date {
    text-transform: uppercase;
    margin: 1em 0;
    font-size: 0.9em;
}

footer {
    font-size: 11px;
    padding-bottom: 1em;
    @include background-carbon-fiber($spacing-size: 6px, $dot-color: #333);
    .author-card {
        padding: 10px;
        img {
            width: 100px;
            height: 100px;
            margin-right: 2em;
        }
        h5, a {
            color: #bbb;
            /*@include text-shadow(#{0px 0px 1px rgba(200, 200, 200, 0.5)});*/
        }
        h5 {
            font-size: $baseFontSize;
            margin: 0;
        }
    }
}

/* code highlighting */
pre {
    ::-webkit-scrollbar {
        width: 12px;
    }
    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background: #ddd;
    }
    ::-webkit-scrollbar-thumb {
        /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
        background: #888;
    }
}
pre code {
    overflow-x: auto;
    /*background: #fdfdfd;*/
    /*@include box-shadow(#{inset 0 0 8px rgba(0, 0, 0, 0.115)});*/
    @include box-shadow(#{0px 0px 8px rgba(50, 50, 50, 0.5)});
}


blockquote {
    padding: 1em;
    border-left: 0px;
    background: #fdfdfc;
    @include box-shadow(#{inset 0 0 1px rgba(0, 0, 0, 0.015)});
    p {
        font-size: $baseFontSize;
    }
}
blockquote p:before {
    content: '"';
    font-size: 15px;
    color: #99b;
}
blockquote p:after {
    content: '"';
    font-size: 15px;
    color: #99b;
}

/* responsive */
@media (max-width: 780px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .container-narrow {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        margin: 0;
    }
    .main.container-narrow {
        padding: 1em;
    }
    .navbar-inner .container-narrow {
        padding: 0;
    }
    .navbar .nav > li > a {
        padding: 5px 10px;
    }
    .navbar .badges iframe {
        padding: 5px 0;
    }
}
